html{
  font-size:25px
}
body{
  background-color: #000000;
  color: rgb(255, 255, 255);
}

a{
  color:rgb(146, 124, 234)
}

table, tr, th, td, caption{
  border:1px solid #eee;
  font-family:'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}